@CHARSET "UTF-8";

#container{
	 background-color: #71B1D1; 
}

#contents{
	width: 710px;
	margin:0 auto;
	overflow: hidden;
}

#contents > #picture {
	width: 400px;
	float: left;
}

#contents > #intro {
	width: 300px;
	float: right;
}

#panel {
	width: 750px;
}

#loginInfo {
	background-color: #D5D5D5; 
	color:#000000; 
	height:30px; 
	padding:5px;"
}
